@import "nib"
@import "nvd3"

html
  // noop

.center
  text-align: center

.pie-chart-list
  display: flex
  flex-wrap: wrap
  justify-content: center

.pie-chart-list-item
  text-align: center
  width: 33%

.pie-chart
  position: relative

  svg
    height: 400px
    margin: 0 auto
    width: 360px

.question
  font-size: 44px
  text-align: center

  .options-list
    display: flex
    justify-content: center

    .option
      cursor: pointer
      font-size: 30px
      padding: 15px

      &:hover
        background: #ffb

button
  padding: 0.2em 0.6em

