@import "nib"
@import "nvd3"

html
  // noop

.app h1
  text-align: center

.pie-chart-list
  display: flex
  justify-content: center

.pie-chart
  position: relative

  svg
    height: 450px
    width: 400px

.question
  font-size: 44px
  text-align: center

  .options-list
    display: flex
    justify-content: center

    .option
      cursor: pointer
      font-size: 36px
      padding: 15px

      &:hover
        background: #ff9
