@import "nib"
@import "nvd3"

html, body
  background: #000
  color: #fff

body
  padding: 20em 0

.center
  text-align: center

.pie-chart-list
  display: flex
  flex-wrap: wrap
  justify-content: center

.pie-chart-list-item
  text-align: center
  width: 33%

.pie-chart
  position: relative

  svg
    height: 400px
    margin: 0 auto
    width: 360px

.question
  font-size: 36px
  text-align: center

  .options-list
    display: flex
    flex-wrap: wrap
    justify-content: center

    .option
      border: 3px solid transparent
      cursor: pointer
      font-size: 30px
      padding: 15px

button
  background: white
  border-radius: 5px
  padding: 0.2em 0.6em
  color: black

svg text
  stroke: #fff

.nvtooltip p
  color: #000
